{% extends "admin/base.html" %}


{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% if stats_url %}
<a href="{{ stats_url }}">{% translate 'Stats' %}</a> /
{% endif %}
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}
